.header__container {
  /* Cores de fundo, fonte e texto*/
  background-color: var(--fundo-card);
  color: var(--texto-principal);
  font-family: var(--fonte-topo);
  font-size: 12px;
  font-weight: 400;
  /* Posicionamento */
  position: relative;
  /* Alinhamento dos itens internamente */
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-evenly;
  /* Alinhamento dos itens externamente */
  align-items: center;
  gap: 0;
  width: 100%;
  height: fit-content;
  margin-bottom: 1.5em;
}

.navigation__container {
  display: flex;
  padding: 10px 20px;
  justify-content: center;
  background-color: var(--fundo-card);
  align-items: center;
  align-self: center;
  width: 45%;
  height: 100%;
}

.logo__procura {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 100%;
  padding: 1em 0;
  gap: 8px;
}
.logo__procura img {
  width: 34px;
  height: 34px;
}

.logo__procura input {
  border-radius: 4px;
  background-color: var(--input);
  color: var(--texto-principal);
  padding: 4px 10px;
  width: 17.5em;
  height: 2em;
  border: none;
}

.logo__procura input::placeholder {
  color: var(--texto-principal);
  background-image: url("./src/assets/header/icone-busca.svg");
  background-repeat: no-repeat;
  background-size: contain;
  text-align: justify;
  font-size: 12px;
  font-weight: 400;
  padding-left: 1.2em;
  background-size: 1.2em;
}

.inicio,
.minha__rede,
.vagas,
.minha__conta,
.mensagens,
.notificacoes,
.solucoes__conteudo {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--texto-principal);
  text-decoration: none;
  height: 38px;
  width: 80px;
}

.solucoes__conteudo {
  border-left: 1px solid var(--texto-principal);
}
